// Theme colors
$white-color: #ffffff;
$text-color: #444452;
$linkedin: #2867b2;
$github: #24292e;
$resume: #b23121;
$email: #0b6d09;
$meeting: #00A2FF;

// the :export directive is the magic sauce for webpack
:export {
    whitecolor: $white-color;
    textcolor: $text-color;
    linkedin: $linkedin;
    github: $github;
    resume: $resume;
    email: $email;
    meeting: $meeting
}
