div.jumbotron.carousel-hero {
    color: #fff;
    text-align: center;
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 0;
}

div.jumbotron.hero-1 {
    background-image: url("../../assets/img/books-unsplash.jpg");
}

div.jumbotron.hero-2 {
    background-image: url("../../assets/img/tutor.jpeg");
    background-position: 50% 30%;
    background-size: cover;
}

div.jumbotron.hero-3 {
    background-image: url("../../assets/img/allstaff.jpeg");
    background-position: 50% 70%;
}

div.jumbotron.hero-4 {
    background-image: url("../../assets/img/office.jpeg");
    background-position: 50% 30%;
}

h1.hero-title,
h2.hero-title,
h3.hero-title {
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    color: #fff;
}

p.hero-subtitle {
    max-width: 600px;
    margin: 25px auto;
    padding: 10px 15px;
    color: #fff;
}

.plat {
    border-radius: 0px;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

* {
    /*box-sizing: inherit;*/
}

*:before,
*:after {
    /*box-sizing: inherit;*/
}

span {
    font-style: inherit;
    font-weight: inherit;
}
